# Можно вбить полную строку DSN или по частям, как ниже
# BITRIX_DSN=user:password@tcp(host:3306)/dbname?parseTime=true&charset=utf8mb4

BITRIX_DB_HOST=127.0.0.1
BITRIX_DB_PORT=3306
BITRIX_DB_USER=user
BITRIX_DB_PASSWORD=password
BITRIX_DB_NAME=bitrix_db

# Опциональные параметры соединения
# BITRIX_DB_PARAMS=parseTime=true&charset=utf8mb4

# Префикс таблиц (опционально)
BITRIX_TABLE_PREFIX=b_
